.applications__form {
  max-width: 450px;
  width: 100%;
  margin: 0 auto 100px;
}

.applications__title {
  color: #000;
  font-size: 22px;
  text-align: center;
  margin: 45px 0;
}

.applications__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.applications__input-wrap label {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-size: 16px;
}

.applications__input-wrap input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #383838;
  height: 36px;
  font-size: 22px;
}

.applications__input-wrap input::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 22px;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap input:-ms-input-placeholder {
  padding-left: 10px;
  font-size: 22px;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap input::-ms-input-placeholder {
  padding-left: 10px;
  font-size: 22px;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap input::placeholder {
  padding-left: 10px;
  font-size: 22px;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap input:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap input:focus::placeholder {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.applications__input-wrap.agree-applications {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.applications__input-wrap.agree-applications label {
  font-size: 13px;
}

.applications__input-wrap.agree-applications input {
  display: none;
}

.reqApp input:invalid {
  border-bottom: 1px solid #FF4D4D;
}

.reqApp input:invalid + label {
  color: #FF4D4D;
}

.agree-applications label {
  color: #000;
}

.agree-applications__check {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 13px;
  width: 15px;
  height: 15px;
  border: 2.5px solid #000;
  border-radius: 2px;
  background-image: url(../img/check.svg);
  background-size: 0px 0px;
}

.app-check:checked + .agree-applications__check {
  background-size: 10px 10px;
}

.applications__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .applications__title {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .applications__title {
    font-size: 18px;
  }
  .applications__input-wrap label {
    font-size: 14px;
  }
  .applications__input-wrap input {
    font-size: 16px;
  }
  .applications__input-wrap input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .applications__input-wrap input:-ms-input-placeholder {
    font-size: 18px;
  }
  .applications__input-wrap input::-ms-input-placeholder {
    font-size: 18px;
  }
  .applications__input-wrap input::placeholder {
    font-size: 18px;
  }
}
/*# sourceMappingURL=applications.css.map */