.grid-bank {
  max-width: 1080px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.bank__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bank-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bank-wrap__logo {
  max-width: 600px;
  max-height: 200px;
  padding-right: 20px;
}

.bank-wrap__logo img {
  width: 100%;
  height: auto;
}

.bank-wrap__descr-list {
  margin-bottom: 50px;
  padding-top: 20px;
  color: #000;
}

.bank__about {
  margin-top: 70px;
  margin-bottom: 70px;
}

.bank__about p {
  margin-bottom: 20px;
  color: #000;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.review .item-select {
  max-width: 574px;
  margin-bottom: 8px;
}

.review__note {
  color: #000;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.review__form {
  width: 100%;
  max-width: 574px;
  margin-right: 20px;
}

.review__note-title {
  margin-bottom: 20px;
}

.review__note-attention-list {
  list-style-type: disc;
  padding-left: 24px;
}

.review__btn {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.item-comment {
  background: rgba(56, 56, 56, 0.1);
  border-radius: 6px;
  padding: 10px 15px 13px 15px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-comment__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 16px;
}

.item-comment__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-comment__rate .rate-star {
  padding: 0 5px 0 0;
}

.item-comment__rate .rate-star li {
  padding-right: 3px;
}

.item-comment__text, .item-comment__author {
  font-size: 13px;
  line-height: 15px;
  color: #000;
}

.item-comment__answer-btn {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.item-comment__name, .item-comment__date {
  margin-bottom: 2px;
}

.item-comment__date {
  font-weight: 300;
}

.comment-answer {
  margin-left: 47px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.pagination-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pag-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 61px;
  height: 61px;
  border: 4px solid #383838;
  border-radius: 6px;
  margin-right: 11px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pag-btn:hover {
  border: 4px solid #FF4D4D;
  color: #FF4D4D;
}

.pag-btn:last-child {
  margin-right: 0;
}

.pag-btn.pag-btn_active {
  border: 4px solid #FF4D4D;
  color: #FF4D4D;
}

.pagination-btn__arrow-left {
  background-image: url(../../../img/arrow-left.svg);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pagination-btn__arrow-left:hover {
  background-image: url(../../../img/arrow-left-accent.svg);
}

.pagination-btn__arrow-right {
  background-image: url(../../../img/arrow-right.svg);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pagination-btn__arrow-right:hover {
  background-image: url(../../../img/arrow-right-accent.svg);
}

.pagination-btn__number {
  font-size: 22px;
  color: #000;
}

@media (max-width: 992px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review .item-select {
    max-width: 100%;
  }
  .review__form {
    max-width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }
  .review__note {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .pag-btn {
    width: 55px;
    height: 55px;
  }
  .pagination-btn__number {
    font-size: 20px;
  }
  .pagination-btn__arrow-left, .pagination-btn__arrow-right {
    background-size: 10px 16px;
  }
}

@media (max-width: 768px) {
  .pag-btn {
    width: 50px;
    height: 50px;
    border: 3px solid #383838;
  }
  .pag-btn_active {
    border: 3px solid #FF4D4D;
  }
  .pagination-btn__number {
    font-size: 18px;
  }
  .pagination-btn__arrow-left, .pagination-btn__arrow-right {
    background-size: 8px 14px;
  }
}

@media (max-width: 650px) {
  .bank-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bank-wrap__logo {
    padding-right: 0;
  }
  .bank-wrap__descr {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .pag-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #383838;
  }
  .pag-btn_active {
    border: 2px solid #FF4D4D;
  }
  .item-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-comment__text {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=bank.css.map */