@import "../../../scss/vars";

.applications__form {
  max-width: 450px;
  width: 100%;
  margin: 0 auto 100px;
}
.applications__title {
  color: #000;
  font-size: 22px;
  text-align: center;
  margin: 45px 0;
}
.applications__input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  label {
    order: -1;
    font-size: 16px;
  }
  input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #383838;
    height: 36px;
    font-size: 22px;
    &::placeholder {
      padding-left: 10px;
      font-size: 22px;
      opacity: 1;
      transition: 0.3s ease;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
        transition: 0.3s ease;
      }
    }
  }
  &.agree-applications {
    flex-direction: row;
    align-items: center;
    label {
      font-size: 13px;
    }
    input {
      display: none;
    }
  }
}
.reqApp input:invalid {
  border-bottom: 1px solid $accent-color;
  & + label {
  color: $accent-color;
  }
}
.agree-applications label {
  color: #000;
}
.agree-applications__check {
  flex-shrink: 0;
  order: -1;
  margin-right: 13px;
  width: 15px;
  height: 15px;
  border: 2.5px solid #000;
  border-radius: 2px;
  background-image: url(../img/check.svg);
  background-size: 0px 0px;
}
.app-check:checked + .agree-applications__check {
  background-size: 10px 10px;
}
.applications__btn {
  display: flex;
  justify-content: center;
}








@import "media";