@import "../../node_modules/normalize.css/normalize";
@import "vars";

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline:none;
}

body {
  min-width: 320px;
	overflow-x: hidden;
	position: relative;
  font-family: 'Roboto', serif;
  color: $main-color;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.grid {
  max-width: 1310px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

// header
.header {
  width: 100%;
  background: linear-gradient(90.94deg, #FF4D4D 0%, #FF4D00 100%);
  color: #fff;
  margin-bottom: 60px;
  &__inner {
    height: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
  }
}
.logo {
  display: flex;
  align-items: center;
  &__name {
    font-size: 18px;
    font-weight: 500;
    font-size: 22px;
    span {
      font-size: 24px;
    }
  }
  &__subtitle {
    text-transform: uppercase;
    font-size: 12px;
  }
  &__img {
    width: 60px;
    height: 55px;
    background-image: url(../img/credit-card.svg);
    background-position: 0 0;
    background-size: cover;
  }
}

.header__applications {
  font-size: 22px;
  position: relative;
  display: flex;
  align-items: flex-end;
  &-number {
    position: absolute;
    background-color: #fff;
    width: 26px;
    height: 26px;
    left: 29px;
    top: -18px;
    border-radius: 50%;
    color: #FF0000;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-img {
    position: relative;
    top: 4px;
    left: 5px;
  }
}
.header__applications-title:hover {
  text-decoration: underline;
}


// footer
.footer {
  background-color: #434A54;
  color: #9BA2AC;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}
.footer__nav {
  flex-shrink: 0;
}
.nav__list {
  display: flex;
  li {
    margin-right: 20px;
    a {
      color: #9BA2AC;
      transition: all 0.5s ease;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
.footer__social-list {
  display: flex;
  li {
    margin-right: 18px;
  }
}
.social-vk, .social-insta, .social-fb {
  path {
    fill:#9BA2AC;
    transition: fill 0.5s ease; 
  }
  &:hover {
    path {
      fill: #fff; 
    } 
  }      
}
.app-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-mobile__app-store, .app-mobile__google-play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #515965;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  color: #9BA2AC;
  padding: 15px 40px;
  align-self: stretch;
  transition: all 0.3s ease;
  &:hover {
    background: #eee;
  }
  span {
    margin-left: 15px;
  }
}
.app-mobile__app-store {
  margin: 13px 0;
}

// общие стили common

// кнопка назад для других страниц
.back-btn {
  border: 4px solid #FFFFFF;
  border-radius: 6px;
  font-size: 22px;
  padding: 12px 22px;
  transition: all 0.7s ease;
  &:hover {
    color: $accent-color;
    background-color: #fff;
  }
}

// общая кнопка
.btn {
  border: none;
  background: linear-gradient(90.94deg, #FF4D4D 0%, #FF4D00 100%);
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  padding: 30px 80px;
  cursor: pointer;
}

.select__items {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
.select__item {
  height: 91px;
}
.item-select {
  max-width: 300px;
  width: 100%;
  border: 3px solid $main-color;
  border-radius: 6px;
  padding: 15px 18px;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    border: 3px solid $accent-color;
    color: $accent-color;
    input::placeholder {
      color: $accent-color;
    }
  }
  input {
    max-width: 100%;
    width: 100%;
    border: none;
    font-size: 22px;
    margin-top: 5px;
    cursor: pointer;
    &::placeholder {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
  input:focus {
    &::placeholder {
      opacity: 0;
      transition: 0.3s ease;
    }
  }
}
.item-select__input {
  position: relative;
  label {
    display: none;
    position: absolute;
    bottom: -50px;
    left: 0px;
    font-size: 16px;
    color: #FF4D4D;
  }
}
.req input:invalid + label {
  display: block;
}
.btn-select {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 176px;
  width: 100%;
  border: none;
  background: linear-gradient(90.94deg, #FF4D4D 0%, #FF4D00 100%);
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
}

.bank-items {
  margin-top: 65px;
  margin-bottom: 59px;
}
.item-bank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ACACAC;
  padding-bottom: 44px;
  margin-bottom: 33px;
}
.item-bank__logo {
  max-width: 200px;
  max-height: 60px;
  img {
    width: 100%;
    height: auto;
  }
}
.info-bank__stavka, .info-bank__percent, .info-bank__tarif {
  display: flex;
}
.info-bank__percent {
  align-items: flex-end;
}
.info-bank__stavka-logo, .info-bank__percent-logo, .info-bank__tarif-logo {
  margin-right: 10px;
}
.info-bank__stavka-value {
  span {
    position: relative;
    bottom: 3px;
  }
}
.info-bank__percent-value {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.offer-bank__price {
  display: flex;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  span {
    margin: 0 5px;
  }
}

.btn-bank__application, .btn-bank__details {
  background: linear-gradient(90.94deg, #FF4D4D 0%, #FF4D00 100%);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 41px;
  font-size: 22px;
}
.btn-bank__details {
  background: #fff;
  border: 2px solid #383838;
  color: $main-color;
  margin-top: 11px;
  transition: all 0.5s ease;
  &:hover {
    color: #fff;
    background-color: #383838;
  }
}

.title {
  border-left: 3px solid #FF4D4D;
  font-size: 35px;
  padding-left: 21px;
  margin-bottom: 34px;
}


@import "common-media";






