@import '../../../scss/vars';

.grid-bank {
  max-width: 1080px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.bank__title {
  display: flex;
  justify-content: center;
}
.bank-wrap {
  display: flex;
}
.bank-wrap__logo {
  max-width: 600px;
  max-height: 200px;
  padding-right: 20px;
  img {
    width: 100%;
    height: auto;
  }
}
.bank-wrap__descr-list {
  margin-bottom: 50px;
  padding-top: 20px;
  color: #000;
}
.bank__about {
  margin-top: 70px;
  margin-bottom: 70px;
  p {
  margin-bottom: 20px;
  color: #000;
  }
}
.rate {
  display: flex;
}
.rate-star {
  display: flex;
  padding: 0 5px;
}
.review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  .item-select {
    max-width: 574px;
    margin-bottom: 8px;
  }
  &__note {
    color: #000;
    flex-shrink: 0;
  }
}
.review__form {
  width: 100%;
  max-width: 574px;
  margin-right: 20px;
}
.review__note-title {
  margin-bottom: 20px;
}
.review__note-attention-list {
  list-style-type: disc;
  padding-left: 24px;
}
.review__btn {
  margin-top: 28px;
  display: flex;
  flex-direction: row-reverse;
}
.item-comment {
  background: rgba(56, 56, 56, 0.1);
  border-radius: 6px;
  padding: 10px 15px 13px 15px;
  margin-bottom: 36px;
  display: flex;
}
.item-comment__info {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
}
.item-comment__rate {
  display: flex;
  .rate-star {
    padding: 0 5px 0 0;
    li {
      padding-right: 3px;
    }
  }
}
.item-comment__text, .item-comment__author {
  font-size: 13px;
  line-height: 15px;
  color: #000;
}
.item-comment__answer-btn {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.item-comment__name, .item-comment__date {
  margin-bottom: 2px;
}
.item-comment__date {
  font-weight: 300;
}
.comment-answer {
  margin-left: 47px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.pagination-btn {
  display: flex;
}
.pag-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 61px;
  border: 4px solid #383838;
  border-radius: 6px;
  margin-right: 11px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    border: 4px solid $accent-color;
    color: $accent-color;
  }
}
.pag-btn:last-child {
  margin-right: 0;
}
.pag-btn.pag-btn_active {
  border: 4px solid #FF4D4D;
  color: #FF4D4D;
}
.pagination-btn__arrow-left {
  background-image: url(../../../img/arrow-left.svg);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s ease;
  &:hover {
    background-image: url(../../../img/arrow-left-accent.svg);
  }
}
.pagination-btn__arrow-right {
  background-image: url(../../../img/arrow-right.svg);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s ease;
  &:hover {
    background-image: url(../../../img/arrow-right-accent.svg);
  }
}
.pagination-btn__number {
  font-size: 22px;
  color: #000;
}






@import "media";