@media (max-width: 992px) {
  // main
  .review {
    flex-direction: column;
  }
  .review .item-select {
    max-width: 100%;
  }
  .review__form {
    max-width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }
  .review__note {
    order: -1;
  }
  .pag-btn {
    width: 55px;
    height: 55px;
  }
  .pagination-btn__number {
    font-size: 20px;
  }
  .pagination-btn__arrow-left, .pagination-btn__arrow-right {
    background-size: 10px 16px;
  }
}

@media (max-width: 768px) {
  .pag-btn {
    width: 50px;
    height: 50px;
    border: 3px solid #383838;
  }
  .pag-btn_active {
    border: 3px solid #FF4D4D;
  }
  .pagination-btn__number {
    font-size: 18px;
  }
  .pagination-btn__arrow-left, .pagination-btn__arrow-right {
    background-size: 8px 14px;
  }
}

@media (max-width: 650px) {
  // main
  .bank-wrap {
    flex-direction: column;
  }
  .bank-wrap__logo {
    padding-right: 0;
  }
  .bank-wrap__descr {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  // main
  .pag-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #383838;
  }
  .pag-btn_active {
    border: 2px solid #FF4D4D;
  }
  .item-comment {
    flex-direction: column;
  }
  .item-comment__text {
    margin-top: 15px;
  }
}